.about{
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
  }
  
  h2{
    font-size: 30px;
    font-weight: 500;
  }
  
  .intro{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding-right: 4%;
    margin-top: 10px;
    margin-bottom: 20%;
  }