.header {
    margin-top: 60px;
  }

.home{
  margin-bottom: 20%;
}
  
  .homeTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .homeTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
  }
  
  .homeTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
  }
  
  .headerImg{
      width: 100%;
      height: 450px;
      margin-top: 80px;
      object-fit: cover;
  }